body {
  font-family: "Merienda", cursive;
}

#body_id {
  background-color: #FFF8BE;
}

/* Header - Flex Column (Will Adjust Downwards) */
@media only screen and (max-width: 400px) {
  div#main_header_inner {
    flex-direction: column;
  }

  div#main_header_left_half {
    flex-direction: column;
    width: 100%;
  }

  div#main_header_right_half {
    flex-direction: column;
    width: 100%;
  }
  div#connect_page_form_div {
    width: 90%;
  }
  div.minimized_resume_img_div {
    width: 60%;
    height: auto;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 85%;
    top: 148.75px;
  }

  .enlarged_modal {
    top: 136.667px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 158.332px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 179.997px;
    right: 43.33px;
  }

    /* Project Home Page */

  div.project_home_section {
    flex-direction: column;
  }

  div.project_home_project_description_div {
    width: 50%;
  }
  div.project_home_project_thumbnail_div {
    width: 50%;
  }

  img.project_home_project_thumbnail_img {
    width: 100%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 100%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 85%;
  }
}

/* Header - Flex Column (Will Adjust Downwards) */
@media (min-width: 401px) and (max-width: 550px) {
  div#main_header_inner {
    flex-direction: column;
  }
  div#main_header_left_half {
    flex-direction: column;
    width: 100%;
  }
  div#main_header_right_half {
    flex-direction: column;
    width: 100%;
  }
  div#connect_page_form_div {
    width: 85%;
  }
  div.minimized_resume_img_div {
    width: 55%;
    height: auto;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 75%;
    top: 148.75px;
  }

  .enlarged_modal {
    top: 136.667px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 158.332px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 179.997px;
    right: 43.33px;
  }

  /* Project Home Page */

  div.project_home_section {
    flex-direction: column;
  }

  div.project_home_project_description_div {
    width: 100%;
  }
  div.project_home_project_thumbnail_div {
    width: 100%;
  }

  img.project_home_project_thumbnail_img {
    width: 90%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 90%;
  }  

  /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 90%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 100%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 75%;
  }

}

/* Header - Flex Column (Will Adjust Downwards) */
@media (min-width: 551px) and (max-width: 767px) {

  /* Base */
  div#main_header_inner {
    flex-direction: column;
  }
  div#main_header_left_half {
    flex-direction: column;
    width: 100%;
  }
  div#main_header_right_half {
    flex-direction: column;
    width: 100%;
  }
  div#connect_page_form_div {
    width: 80%;
  }
  div.minimized_resume_img_div {
    width: 50%;
    height: auto;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 62.5%;
    top: 148.75px;
  }

  .enlarged_modal {
    top: 136.667px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 158.332px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 179.997px;
    right: 43.33px;
  }

  /* Project Home Page */

  div.project_home_section {
    flex-direction: column;
  }

  div.project_home_project_description_div {
    width: 100%;
  }
  div.project_home_project_thumbnail_div {
    width: 100%;
  }

  img.project_home_project_thumbnail_img {
    width: 80%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 65%;
  }
  
  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 87.5%;
  }  

    /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 70%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 100%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 60%;
  }

}

/* Header - Flex Row */
@media (min-width: 768px) and (max-width: 992px) {
  div#main_header_inner {
    flex-direction: row;
  }
  div#main_header_left_half {
    flex-direction: row;
    width: 50%;
  }
  div#main_header_right_half {
    flex-direction: row;
    width: 50%;
  }
  div#connect_page_form_div {
    width: 70%;
  }
  div.minimized_resume_img_div {
    width: 50%;
    height: auto;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 45%;
    top: 5%;
  }

  .enlarged_modal {
    top: 43.33px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 64.995px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 81.24375px;
    right: 43.33px;
  }

  /* Project Home Page */

  div.project_home_section {
    flex-direction: row;
  }

  div.project_home_project_description_div {
    width: 50%;
  }
  div.project_home_project_thumbnail_div {
    width: 50%;
  }

  img.project_home_project_thumbnail_img {
    width: 100%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 72.5%;
  }  

  /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 60%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 95%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 50%;
  }

}

/* Header - Flex Row */
@media (min-width: 993px) and (max-width: 1200px) {
  div#main_header_inner {
    flex-direction: row;
  }
  div#main_header_left_half {
    flex-direction: row;
    width: 50%;
  }
  div#main_header_right_half {
    flex-direction: row;
    width: 50%;
  }
  div#connect_page_form_div {
    width: 60%;
  }
  div.minimized_resume_img_div {
    width: 35%;
    height: auto;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 35%;
    top: 5%;
  }

  .enlarged_modal {
    top: 43.33px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 64.995px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 81.24375px;
    right: 43.33px;
  }

  /* Project Home Page */

  div.project_home_section {
    flex-direction: row;
  }

  div.project_home_project_description_div {
    width: 50%;
  }
  div.project_home_project_thumbnail_div {
    width: 50%;
  }

  img.project_home_project_thumbnail_img {
    width: 90%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 55%;
  }  

  /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 55%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 90%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 45%;
  }

}

/* Header - Flex Row */
@media (min-width: 1201px) and (max-width: 1500px) {
  div#main_header_inner {
    display: flex;
  }
  div#main_header_left_half {
    flex-direction: row;
    width: 50%;
  }
  div#main_header_right_half {
    flex-direction: row;
    width: 50%;
  }
  div#connect_page_form_div {
    width: 50%;
  }
  div.minimized_resume_img_div {
    width: 35%;
    height: auto;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 30%;
    top: 5%;
  }

  .enlarged_modal {
    top: 43.33px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 64.995px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 81.24375px;
    right: 43.33px;
  }

  /* Project Home Page */

  div.project_home_section {
    flex-direction: row;
  }

  div.project_home_project_description_div {
    width: 50%;
  }
  div.project_home_project_thumbnail_div {
    width: 50%;
  }

  img.project_home_project_thumbnail_img {
    width: 80%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 50%;
  }

  /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 45%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 85%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 40%;
  }

}

/* Header - Flex Column */
@media (min-width: 1501px) {
  div#main_header_inner {
    display: flex;
  }
  div#main_header_left_half {
    flex-direction: row;
    width: 50%;
  }
  div#main_header_right_half {
    flex-direction: row;
    width: 50%;
  }
  div#connect_page_form_div {
    width: 50%;
  }
  div.minimized_resume_img_div {
    width: 30%;
    height: auto;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 25%;
    top: 5%;
  }

  .enlarged_modal {
    top: 43.33px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 64.995px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 81.24375px;
    right: 43.33px;
  }

  /* Project Home Page */

  div.project_home_section {
    flex-direction: row;
  }

  div.project_home_project_description_div {
    width: 50%;
  }
  div.project_home_project_thumbnail_div {
    width: 50%;
  }

  img.project_home_project_thumbnail_img {
    width: 75%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 50%;
  }

  /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 40%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 80%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 35%;
  }
}

/* Dimensions outside Reponsiveness */

div#main_header_outer {
  width: 100%;
  height: auto;
}

div#main_header_inner {
  display: flex;
  width: 100%;
  background-color: #6e73ab;
  padding: 10px;
}

div#main_header_left_half {
  display: flex;
}

div#main_header_left_half p {
  margin: 0 auto;
  color: #cfc259;
}

div#main_header_right_half {
  display: flex;
}

div#main_header_right_half p,
div#main_header_right_half a {
  color: #cfc259;
  text-align: center;
  margin: 0 auto;
}

/* About Me Page */

.minimized_modal {
  display: none;
}

.minimized_resume_img_div {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  z-index: 3;
}

.minimized_resume_img_img {
  width: 100%;
  height: 100%;
  border: 1px solid #6e73ab;
  margin: 10px;
  transition: .1;
  z-index: 1;
  cursor: pointer;
}

/* Header is 43.33px */
/* Enlarged resume should be 86.66px from the top */

.enlarged_modal {
  display: block;
  width: 100vw;
  height: 200vh;
  position: absolute;
  background: linear-gradient(0.375turn,#6e73ab, #000);
  opacity: .75;
  z-index: 1;
}

.enlarged_resume_img_div {
  height: auto;
  position: absolute;
  z-index: 2;

}

.enlarged_resume_img_img {
  width: 100%;
  height: auto;
  z-index: 3;
}

div#about_me_click_for_full_size_modal_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: white;
  padding: 15px;
  border: 1px solid #6e73ab;
  border-radius: .375rem;
  display: none;
  z-index: 4;
}

div#about_me_click_for_full_size_modal_container p {
  padding: 0px;
  margin: 0px;
}

span#about_me_click_for_full_size_modal_span p {
  padding: 0px;
  margin: 0px
}

span#full_page_modal_close {
  position: absolute;
  color: #6e73ab;
  z-index: 4;
}

span#full_page_modal_close:hover {
  cursor: pointer;
}

i#close_button_close_button {
  font-weight: 9000px;
}

.minimized_close_button {
  display: none;
}
.enlarged_close_button {
  display: block;
}

div#resume_page_download_resume_container {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0px;
  text-align: center;
  width: auto;
}

button#resume_page_download_resume_button {
  background-color: #6e73ab;
  color: #cfc259;
  border: 1px solid #cfc259;
}


/* Connect Page */

div#connect_page_form_div {
  margin: 0 auto;
}

ul#about_me_page_ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul#about_me_page_ul li h5 {
  text-align: center;
}

/* Projects Home Page */

div#project_home_main_div {}

div.project_home_section {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

img.project_home_project_thumbnail_img {
  /* border: 1px solid #6e73ab; */
  border-radius: .375rem;
}

a.project_home_project_description_links {
  color: #6e73ab;
  font-weight: bold;
}

a.project_home_project_description_links p {
  padding: 0px;
  margin: 0px;
}

a.project_home_project_description_links:hover,
a.project_home_project_description_links:active {
  color: #cfc259;
  background-color: #6e73ab;
  text-decoration: none;
 
}

a#random_word_generator_link p {
  margin: 0px;
}


/* Random Word Generator Page */

div#random_word_generator_outer_div {
  text-align: center;
  display: absolute;
  padding: 10px;
  margin-top: 25px;
}

button#random_word_generator_submit_button_python {
  border-radius: 0.5em;
  margin-bottom: 10px;
}

button#random_word_generator_submit_button_ajax, 
button#random_name_generator_submit_button_ajax {
  border-radius: 0.5em;
  margin-bottom: 10px;
}

div#random_word_generator_inner_div {
  padding: 5px;
  margin: 0 auto;
}

h3#random_word_generator_random_word {
  color: #cfc259;
  background-color: #6e73ab;
  padding: 5px;
  margin: 0px;
  border-radius: .25em;
}

hr.random_word_generator_page_hrs {
  margin: 0 auto;
  padding: 0px;
}

/* PDF Parser Page */

div#pdf_parser_outer_div {
  max-width: 100%;
}

div#pdf_parser_file_uploader_header {
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

div#pdf_parser_file_uploader_header p,
div#pdf_parser_file_uploader_header h3
 {
  padding: 0px;
  margin: 0px;
}

div#pdf_parser_file_upload_form_container {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  border: 1px #6e73ab solid;
  border-radius: .375rem;
}

div#pdf_parser_file_upload_form_form {}

div#pdf_parser_file_upload_form_submit_button {}

input#pdf_parser_file_upload_form_title,
input#pdf_parser_file_upload_form_file_upload {
  padding: 3px;
  margin-bottom: 10px;
}

div#pdf_extension_verification_div {
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background-color: #fff;
  transition: .9s;
  border: 1px solid red;
  border-radius: .375rem;
  display: none;
}

div#pdf_extension_verification_div p {
  padding: 0px;
  margin: 0px;
  font-weight: bold;
  color: red;
}

/* Display Content Page */

div#display_contents_file_name_display {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#display_contents_file_name_display p {
  padding: 0px;
  margin: 0px;
}

div#display_contents_uploaded_data_container {
  height: 75%;
  padding: 10px;
  border: 1px #6e73ab solid;
  border-radius: .25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#display_contents_uploaded_data_container pre {
  margin: 0 auto;
  height: 75vh;
  width: 100%;
  overflow: scroll;
}

div#display_contents_uploaded_data_container p {
}

div#display_contents_uploaded_data_search_bar_container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input#display_contents_uploaded_data_search_bar_input {
  width: 100%;
}

span#immediate_search_terms {
  background-color: #6e73ab;
}

/* Return Links */

div.return_link_container {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.return_link_container p {
  padding: 0px;
  margin: 0px;
}
