body {
  font-family: "Merienda", cursive;
}

#body_id {
  background-color: #FFF8BE;
}

/* Header - Flex Column (Will Adjust Downwards) */
@media only screen and (max-width: 400px) {

  /* Base */
  div#main_header_inner {
    flex-direction: column;
  }

  div#main_header_left_half {
    flex-direction: column;
    width: 100%;
  }

  div#main_header_right_half {
    flex-direction: column;
    width: 100%;
  }
  div#connect_page_form_div {
    width: 90%;
  }
  div.minimized_resume_img_div {
    width: 60%;
    height: auto;
  }

  div#left_window_border, 
  div#right_window_border {
    height: 87.5%;
  }

  div#left_window_border_box_shadow,
  div#right_window_border_box_shadow {
    top: 140px;
  }

  div#left_curved_cover,
  div#right_curved_cover {
    top: 140px;
  }

  div#vector_mountain_div {
    height: 425px;
    bottom: -250px;
  }

  .target_header {
    width: 100%;
  }

  .target_hr {
    width: 100%;
  }

  /* Home Page */

  div#home_me_living_life_div {
    width: 20%;
    height: auto;
    top: 47.5%;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 85%;
    top: 148.75px;
  }

  .enlarged_modal {
    top: 136.667px;
    height: auto;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 158.332px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 179.997px;
    right: 43.33px;
  }

  div.about_me_languages_outer_div {
    flex-direction: row;
  }

  div.about_me_languages_inner_div_icon {
    padding-right: 21.875%;
  }

  div.about_me_languages_inner_div_text {
    padding-right: 21.875%;
  }

    /* Project Home Page */

  div.project_home_section {
    flex-direction: column;
  }

  div.project_home_project_description_div {
    width: 50%;
  }
  div.project_home_project_thumbnail_div {
    width: 50%;
  }

  img.project_home_project_thumbnail_img {
    width: 100%;
    height: 50px;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 100%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 85%;
  }

  /* Reaction Time Page */

  div#main_canvas_div {
    top: 57.5%;
  }

  iframe.linkedin_bot_video {
    width: 95%;
  }


  /* Error Pages */

  /* 500 Error */

  img.error_page_error_img_img {
    width: 100%;
  }
  
  div.error_page_background_circle_container {
    width: 300px;
    height: 300px;
  }

}

/* Header - Flex Column (Will Adjust Downwards) */
@media (min-width: 401px) and (max-width: 550px) {

  /* Base */
  div#main_header_inner {
    flex-direction: column;
  }
  div#main_header_left_half {
    flex-direction: column;
    width: 100%;
  }
  div#main_header_right_half {
    flex-direction: column;
    width: 100%;
  }
  div#connect_page_form_div {
    width: 85%;
  }
  div.minimized_resume_img_div {
    width: 55%;
    height: auto;
  }

  div#left_window_border, 
  div#right_window_border {
    height: 83.5%;
  }

  div#left_window_border_box_shadow,
  div#right_window_border_box_shadow {
    top: 140px;
  }

  div#left_curved_cover,
  div#right_curved_cover {
    top: 140px;
  }

  div#vector_mountain_div {
    height: 425px;
    bottom: -160px;
  }

  .target_header {
    width: 100%;
  }

  .target_hr {
    width: 100%;
  }

  /* Home Page */

  div#home_me_living_life_div {
    width: 25%;
    height: auto;
    top: 45%;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 75%;
    top: 148.75px;
  }

  .enlarged_modal {
    top: 136.667px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 158.332px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 179.997px;
    right: 43.33px;
  }

  div.about_me_languages_outer_div {
    flex-direction: row;
  }

  div.about_me_languages_inner_div_icon {
    padding-right: 21.875%;
  }

  div.about_me_languages_inner_div_text {
    padding-right: 21.875%;
  }

  /* Project Home Page */

  div.project_home_section {
    flex-direction: column;
  }

  div.project_home_project_description_div {
    width: 100%;
  }
  div.project_home_project_thumbnail_div {
    width: 100%;
  }

  img.project_home_project_thumbnail_img {
    width: 90%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 90%;
  }  

  /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 90%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 100%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 75%;
  }

  /* Reaction Time Page */

  div#main_canvas_div {
    top: 57.5%;
  }

  iframe.linkedin_bot_video {
    width: 90%;
  }


  /* Error Pages */

  /* 500 Error */

  img.error_page_error_img_img {
    width: 100%;
  }
  
  div.error_page_background_circle_container {
    width: 400px;
    height: 400px;
  }


}

/* Header - Flex Column (Will Adjust Downwards) */
@media (min-width: 551px) and (max-width: 767px) {

  /* Base */
  div#main_header_inner {
    flex-direction: column;
  }
  div#main_header_left_half {
    flex-direction: column;
    width: 100%;
  }
  div#main_header_right_half {
    flex-direction: column;
    width: 100%;
  }
  div#connect_page_form_div {
    width: 80%;
  }
  div.minimized_resume_img_div {
    width: 50%;
    height: auto;
  }

  div#left_window_border, 
  div#right_window_border {
    height: 80%;
  }

  div#left_window_border_box_shadow,
  div#right_window_border_box_shadow {
    top: 140px;
  }

  div#left_curved_cover,
  div#right_curved_cover {
    top: 140px;
  }

  div#vector_mountain_div {
    height: 425px;
    bottom: -100px;
  }

  .target_header {
    width: 100%;
  }

  .target_hr {
    width: 100%;
  }

  /* Home Page */

  div#home_me_living_life_div {
    width: 17.5%;
    height: auto;
    top: 45%;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 62.5%;
    top: 148.75px;
  }

  .enlarged_modal {
    top: 136.667px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 158.332px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 179.997px;
    right: 43.33px;
  }

  div.about_me_languages_outer_div {
    flex-direction: row;
  }

  div.about_me_languages_inner_div_icon {
    padding-right: 18.75%;
  }

  div.about_me_languages_inner_div_text {
    padding-right: 18.75%;
  }

  /* Project Home Page */

  div.project_home_section {
    flex-direction: column;
  }

  div.project_home_project_description_div {
    width: 100%;
  }
  div.project_home_project_thumbnail_div {
    width: 100%;
  }

  img.project_home_project_thumbnail_img {
    width: 80%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 65%;
  }
  
  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 87.5%;
  }  

    /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 70%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 100%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 60%;
  }

  /* Reaction Time Page */

  div#main_canvas_div {
    top: 57.5%;
  }

  iframe.linkedin_bot_video {
    width: 85%;
  }


  /* Error Pages */

  /* 500 Error */

  img.error_page_error_img_img {
    width: 100%;
  }
  
  div.error_page_background_circle_container {
    width: 500px;
    height: 500px;
  }

  hr.error_page_error_description_hr {
    width: 90%;
  }  

}

/* Header - Flex Row */
@media (min-width: 768px) and (max-width: 992px) {

  /* Base */
  div#main_header_inner {
    flex-direction: row;
  }
  div#main_header_left_half {
    flex-direction: row;
    width: 50%;
  }
  div#main_header_right_half {
    flex-direction: row;
    width: 50%;
  }
  div#connect_page_form_div {
    width: 70%;
  }
  div.minimized_resume_img_div {
    width: 50%;
    height: auto;
  }

  div#left_window_border, 
  div#right_window_border {
    height: 70%;
  }

  div#left_window_border_box_shadow,
  div#right_window_border_box_shadow {
    top: 44px;
  }

  div#left_curved_cover,
  div#right_curved_cover {
    top: 44px;
  }

  div#vector_mountain_div {
    height: 425px;
    bottom: 75px;
  }

  .target_header {
    width: 100%;
  }

  .target_hr {
    width: 100%
  }

  /* Home Page */

  div#home_me_living_life_div {
    width: 15%;
    height: auto;
    top: 32.5%;
  } 

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 45%;
    top: 5%;
  }

  .enlarged_modal {
    top: 43.33px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 64.995px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 81.24375px;
    right: 43.33px;
  }

  div.about_me_languages_outer_div {
    flex-direction: row;
  }

  div.about_me_languages_inner_div_icon {
    padding-right: 18.75%;
  }

  div.about_me_languages_inner_div_text {
    padding-right: 18.75%;
  }
  

  /* Project Home Page */

  div.project_home_section {
    flex-direction: row;
  }

  div.project_home_project_description_div {
    width: 50%;
  }
  div.project_home_project_thumbnail_div {
    width: 50%;
  }

  img.project_home_project_thumbnail_img {
    width: 100%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 72.5%;
  }  

  /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 60%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 95%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 50%;
  }

  /* Reaction Time Page */

  div#main_canvas_div {
    top: 50%;
  }

  /* LinkedIn Bot Page */

  iframe.linkedin_bot_video {
    width: 80%;
  }

  /* Error Pages */

  /* 500 Error */

  img.error_page_error_img_img {
    width: 90%;
  }
  
  div.error_page_background_circle_container {
    width: 600px;
    height: 600px;
  }

  hr.error_page_error_description_hr {
    width: 85%;
  }  

}

/* Header - Flex Row */
@media (min-width: 993px) and (max-width: 1200px) {

  /* Base */
  div#main_header_inner {
    flex-direction: row;
  }
  div#main_header_left_half {
    flex-direction: row;
    width: 50%;
  }
  div#main_header_right_half {
    flex-direction: row;
    width: 50%;
  }
  div#connect_page_form_div {
    width: 60%;
  }
  div.minimized_resume_img_div {
    width: 35%;
    height: auto;
  }

  div#left_window_border, 
  div#right_window_border {
    height: 80%;
  }

  div#left_window_border_box_shadow,
  div#right_window_border_box_shadow {
    top: 44px;
  }

  div#left_curved_cover,
  div#right_curved_cover {
    top: 44px;
  }

  div#vector_mountain_div {
    height: 400px;
    bottom: 225px;
  }

  .target_header {
    width: 100%;
  }

  .target_hr {
    width: 100%
  }

  /* Home Page */

  div#home_me_living_life_div {
    width: 15%;
    height: auto;
    top: 30%;
  } 

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 35%;
    top: 5%;
  }

  .enlarged_modal {
    top: 43.33px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 64.995px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 81.24375px;
    right: 43.33px;
  }

  div.about_me_languages_outer_div {
    flex-direction:row;
  }

  div.about_me_languages_inner_div_icon {
    padding-right: 18.75%;
  }

  div.about_me_languages_inner_div_text {
    padding-right: 18.75%;
  }


  /* Project Home Page */

  div.project_home_section {
    flex-direction: row;
  }

  div.project_home_project_description_div {
    width: 50%;
  }
  div.project_home_project_thumbnail_div {
    width: 50%;
  }

  img.project_home_project_thumbnail_img {
    width: 90%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 55%;
  }  

  /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 55%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 90%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 45%;
  }

  /* Reaction Time Page */

  div#main_canvas_div {
    top: 50%;
  }

  /* LinkedIn Bot Page */

  iframe.linkedin_bot_video {
    width: 75%;
  }


  /* Error Pages */

  /* 500 Error */

  img.error_page_error_img_img {
    width: 80%;
  }
  
  div.error_page_background_circle_container {
    width: 675px;
    height: 675px;
  }

  hr.error_page_error_description_hr {
    width: 70%;
  }


}

/* Header - Flex Row */
@media (min-width: 1201px) and (max-width: 1500px) {

  /* Base */
  div#main_header_inner {
    display: flex;
  }
  div#main_header_left_half {
    flex-direction: row;
    width: 50%;
  }
  div#main_header_right_half {
    flex-direction: row;
    width: 50%;
  }
  div#connect_page_form_div {
    width: 50%;
  }
  div.minimized_resume_img_div {
    width: 35%;
    height: auto;
  }

  div#left_window_border, 
  div#right_window_border {
    height: 60%;
  }

  div#left_window_border_box_shadow,
  div#right_window_border_box_shadow {
    top: 44px;
  }

  div#left_curved_cover,
  div#right_curved_cover {
    top: 44px;
  }

  div#vector_mountain_div {
    height: 400px;
    bottom: 300px;
  }

  .target_header {
    width: 100%;
  }

  .target_hr {
    width: 100%
  }

  /* Home Page */

  div#home_me_living_life_div {
    width: 200px;
    height: auto;
    top: 30%;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 30%;
    top: 5%;
  }

  .enlarged_modal {
    top: 43.33px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 64.995px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 81.24375px;
    right: 43.33px;
  }

  div.about_me_languages_outer_div {
    flex-direction:row;
  }

  div.about_me_languages_inner_div_icon {
    padding-right: 18.75%;
  }

  div.about_me_languages_inner_div_text {
    padding-right: 18.75%;
  }

  /* Project Home Page */

  div.project_home_section {
    flex-direction: row;
  }

  div.project_home_project_description_div {
    width: 50%;
  }
  div.project_home_project_thumbnail_div {
    width: 50%;
  }

  img.project_home_project_thumbnail_img {
    width: 80%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 50%;
  }

  /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 45%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 85%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 40%;
  }

 /* Reaction Time Page */

  div#main_canvas_div {
    top: 50%;
  }

  /* LinkedIn Bot Page */

  iframe.linkedin_bot_video {
    width: 70%;
  }

  /* Sizes  */

  .standard_size {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  /* Error Pages */

  /* 500 Error */

  img.error_page_error_img_img {
    width: 75%;
  }
  
  div.error_page_background_circle_container {
    width: 775px;
    height: 775px;
  }

  hr.error_page_error_description_hr {
    width: 60%;
  }  

}

/* Header - Flex Column */
@media (min-width: 1501px) {

  /* Base */
  div#main_header_inner {
    display: flex;
  }

  div#main_header_left_half {
    flex-direction: row;
    width: 50%;
  }

  div#main_header_right_half {
    flex-direction: row;
    width: 50%;
  }

  div#connect_page_form_div {
    width: 50%;
  }

  div.minimized_resume_img_div {
    width: 30%;
    height: auto;
  }

  div#left_window_border, 
  div#right_window_border {
    height: 75%;
  }

  div#left_window_border_box_shadow,
  div#right_window_border_box_shadow {
    top: 44px;
  }

  div#left_curved_cover,
  div#right_curved_cover {
    top: 44px;
  }

  div#vector_mountain_div {
    height: 450px;
    bottom: 300px;
  }

  .target_header {
    width: 100%;
  }

  .target_hr {
    width: 100%
  }

  /* Home Page */

  div#home_me_living_life_div {
    width: 225px;
    height: auto;
    top: 30%;
  }

  /* About Me Page */

  div#about_me_click_for_full_size_modal_container {
    width: 25%;
    top: 5%;
  }

  .enlarged_modal {
    top: 43.33px;
  }
  
  .enlarged_resume_img_div {
    width: calc(100% - 43.33px);
    top: 64.995px;
    left: 21.665px;
  }

  span#full_page_modal_close {
    top: 81.24375px;
    right: 43.33px;
  }

  div.about_me_languages_outer_div {
    flex-direction: row;
  }

  div.about_me_languages_inner_div_icon {
    padding-right: 18.75%;
  }

  div.about_me_languages_inner_div_text {
    padding-right: 18.75%;
  }

  /* Project Home Page */

  div.project_home_section {
    flex-direction: row;
  }

  div.project_home_project_description_div {
    width: 50%;
  }
  div.project_home_project_thumbnail_div {
    width: 50%;
  }

  img.project_home_project_thumbnail_img {
    width: 75%;
  }

  /* Random Word/Name Generator */

  div#random_word_generator_inner_div {
    width: 50%;
  }

  /* PDF Upload Page */

  div#pdf_parser_file_upload_form_container,
  div#pdf_extension_verification_div {
    max-width: 40%;
  }

  /* Content Display Page */

  div#display_contents_uploaded_data_container {
    width: 80%;
  }

  div#display_contents_uploaded_data_search_bar_container {
    width: 35%;
  }

  /* Reaction Time Page */

  div#main_canvas_div {
    top: 50%;
  }

  /* LinkedIn Bot Page */

  iframe.linkedin_bot_video {
    width: 65%;
  }
  

  /* Sizes  */

  .standard_size {
    margin-left: 12.5%;
    margin-right: 12.5%;
  }

  /* Error Pages */

  /* 500 Error */

  img.error_page_error_img_img {
    width: 60%;
  }
  
  div.error_page_background_circle_container {
    width: 825px;
    height: 825px;
  }

  hr.error_page_error_description_hr {
    width: 50%;
  }
  

}

/* Dimensions outside Reponsiveness */

/* Sizes */

.standard_size {
  margin: 0 auto;
  margin-left: 12.5%;
  margin-right: 12.5%;
}

.standard_size p {
  font-size: 11.5pt;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black;
}

.standard_size h5 {
  font-size: 16pt;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.standard_size h3 {
  font-size: 18pt;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.standard_size label {
  font-size: 11.5pt;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}


.blue_hr {
  /* background-color: #78A091; */
  background-color: #221100;
}

.off_white_hr {
  background-color: #FFF8BE;
}


.about_me_hr_h5 {
  width: 50%;
  background-color: #C5E1CB;
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
}

.about_me_blue_text_highlight {
  /* color: #78A091; */
  color: #221100;
  /* color: #37536D; */
  /* background-color: #fff; */
  /* background: linear-gradient(0.25turn, transparent 5%, #FFF8BE, transparent 95%); */
  background: #FFF8BE;
  text-align: center;
}


.about_me_blue_text_highlight::before {
  content: '- ';
}

.about_me_blue_text_highlight::after {
  content: ' -'
}

.about_me_off_white_text_highlight {
  color: #FFF8BE;
  /* background: #78A091; */
  background: #221100;
  text-align: center;

}

.about_me_off_white_text_highlight::before {
  content: '- ';
}

.about_me_off_white_text_highlight::after {
  content: ' -';
}

div#about_me_introduction_container {
  text-align: center;
}

span#about_me_peace_icon {
  font-size: 17.25pt;
}

a#connect_noclass_link {
  text-decoration: none;
  font-size: inherit;
  border: none;
  transition: none;
  color: inherit;
}


/* Base */

div#main_header_outer {
  width: 100%;
  height: auto;
}

div#main_header_inner {
  display: flex;
  width: 100%;
  background-color: #78A091;
  padding: 10px;
}

div#main_header_left_half {
  display: flex;
}

div#main_header_left_half p {
  margin: 0 auto;
  color: #221100;
  font-weight: bold;
}

div#main_header_right_half {
  display: flex;
}

div#main_header_right_half p,
div#main_header_right_half a {
  text-align: center;
  margin: 0 auto;
}

div#main_header_right_half p:hover,
div#main_header_right_half a:hover {
  text-decoration: none;
  font-weight: bold;
}

.active_header_link {
  margin-left: 0px;
  margin-right: 0px;
}

.active_header_link p {
  font-weight: bold;
  color: #FFF;
  /* max-height: 25px; */
  display: flex;
  max-width: 100%;
  margin-left: -10px;
  margin-right: -50px;
}

.active_header_link p::before {
  content: url('../png/living_life_before.png');
  opacity: .5;
  transform: scale(.1125);
  background-size: 2px 2px;
  display:flex;
  height: 25px;
  margin-top: -10px;
  margin-right: -42.5px;
  padding-right: -42.5px;
}

.active_header_link p::after {
  content: url('../png/living_life_after.png');
  opacity: .5;
  transform: scale(.1125);
  background-size: 2px 2px;
  display: flex;
  height: 25px;
  margin-top: -10px;
  margin-left: -42.5px;
}

.inactive_header_link p {
  color: #FFF8BE;
}


div#vector_mountain_div {
  position: fixed;
  left: 0;
  width: 100%;
  z-index: -1;
}

img#vector_mountain_img {
  width: 100%;
  height: auto;
  opacity: .7;
}

/* Home Page */

div#home_me_living_life_div {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -5;
}

img#home_me_living_life_img {
  position: relative;
  width: 100%;
  height: 100%;
  /* top: 50%;
  left: 50%;
  transform: translateX(-50%); */
  opacity: .25;
  filter: drop-shadow(-15px 15px 30px #78A091)

}

.living_life_true {
  display: block;
}

.living_life_false {
  display: none;
}

.target_header {
  transition: .5s;
  margin: 0 auto;
}

.target_hr {
  height: 1px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  transition: .5s;
}

div.active_animation {
  animation-name: flight_intro;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-timing-function: linear;
}

@keyframes flight_intro {
  0% {}
  5% {
    top: 10%;
    left: 50%;
    transform: rotate(0deg);
    transform: translate(-50%, -50%);
  }
  10% {
    top: -10%;
    left: 50%;
    transform: rotate(0deg);
    transform: translate(-50%, -50%);
  }
  15% {
    top: -30%;
    left: 50%;
    transform: rotate(0deg);
    transform: translate(-50%, -50%);
  }
  20% {
    top: -30%;
    left: 25%;
    transform: rotate(-180deg);

  }
  25% {
    left: 25%;
    top: -10%;
    transform: rotate(-180deg);
  }
  30% {
    left: 25%;
    top: 15%;
    transform: rotate(-180deg);
  }
  35% {
    left: 30%;
    top: 30%;
    transform: rotate(-202.5deg);
  }
  37.5% {
    left: 35%;
    top: 45%;
    transform: rotate(-225deg);
  }
  40% {
    left: 45%;
    top: 60%;
    transform: rotate(-236.25deg);
  }
  42.5% {
    left: 55%;
    top: 65%;
    transform: rotate(-247.5deg);
  }
  45% {
    left: 75%;
    top: 70%;
    transform: rotate(-258.75deg);
  }
  47.5% {
    left: 105%;
    top: 75%;
    transform: rotate(-258.75deg);
  }
  50% {
    left: 125%;
    top: 80%;
    transform: rotate(-270deg);
  }
  55% {
    left: 145%;
    top: 85%;
    transform: rotate(-270deg);
  }
  60% {
    left: 145%;
    top: 70%;
    transform: rotate(-270deg);

  }
  70% {}
  80% {}
  90% {}
  100% {}
}

/* About Me Page */

.minimized_modal {
  display: none;
}

.minimized_resume_img_div {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  z-index: 3;
}

.minimized_resume_img_img {
  width: 100%;
  height: 100%;
  border: 1px solid #6e73ab;
  margin: 10px;
  transition: .075s;
  z-index: 1;
  cursor: pointer;
}

/* Header is 43.33px */
/* Enlarged resume should be 86.66px from the top */

.enlarged_modal {
  display: block;
  width: 100%;
  height: 200vh;
  position: absolute;
  background: linear-gradient(0.375turn,#6e73ab, #000);
  opacity: .75;
  z-index: 1;
}

.enlarged_resume_img_div {
  height: auto;
  position: absolute;
  z-index: 2;
}

.enlarged_resume_img_img {
  width: 100%;
  height: auto;
  z-index: 3;
}

div#about_me_click_for_full_size_modal_container {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: white;
  padding: 15px;
  border: 1px solid #6e73ab;
  border-radius: .375rem;
  display: none;
  z-index: 4;
}

div#about_me_click_for_full_size_modal_container p {
  padding: 0px;
  margin: 0px;
}

span#about_me_click_for_full_size_modal_span p {
  padding: 0px;
  margin: 0px
}

span#full_page_modal_close {
  position: absolute;
  color: #6e73ab;
  z-index: 4;
}

span#full_page_modal_close:hover {
  cursor: pointer;
}

i#close_button_close_button {
  font-weight: 9000px;
}

.minimized_close_button {
  display: none;
}

.enlarged_close_button {
  display: block;
}

div#resume_page_download_resume_container {
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 0px;
  text-align: center;
  width: auto;
}

button#resume_page_download_resume_button {
  /* background-color: #4c8872; */
  background-color: #221100;
  color: #FFF8BE;
  border: 1px solid #FFF8BE;
}

button#resume_page_download_resume_button:hover {
  color: #fff;
  border: 1px solid #000;
}


div.about_me_languages_outer_div {
  display: flex;
  width: 100%;
}

div.about_me_languages_inner_div_icon {
  margin: 0 auto;
  width: 50%;
  text-align: right;
  margin-top: auto;
  margin-bottom: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}


div.about_me_languages_inner_div_icon img {
  height: 35px;
  margin-right: 0px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}


div.about_me_languages_inner_div_text {
  margin: 0 auto;
  width: 50%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

div.about_me_languages_inner_div_text p {
  padding: 10px;
  margin-top: auto;
  margin-bottom: auto;
}


/* Connect Page */

div#connect_page_outer_container {
  margin: 0 auto;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

div#connect_header_h5 {
  text-align: center;
}

h5#connect_contact_form_header {
  text-align: center;
}

div#connect_page_form_div {
  margin: 0 auto;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#connect_page_form_div input[type="text"],
div#connect_page_form_div input[type="email"],
div#connect_page_form_div textarea {
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  color: #1D3B57 !important;
}

div#connect_page_form_div label {
  padding: 0px;
  margin-top: 2.5px;
  margin-bottom: 2.5px;
  text-align: center;
}

input#connect_page_form_submit_button {
  margin: 0 auto;
  /* background-color: #4c8872; */
  background-color: #221100;
  color: #FFF8BE;
  border: 1px solid #FFF8BE;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

input#connect_page_form_submit_button:hover {
  color: #fff;
  border: 1px solid #000;
}

ul#about_me_page_ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul#about_me_page_ul li h5 {
  text-align: center;
}

hr#connect_page_text_form_seperation_hr {
  margin: 0 auto;
  width: 75%;
}

p.connect_centered_li {
  text-align: center;
}

.target_methods_of_comm {
  text-decoration: none;
}

.target_methods_of_comm a,
.target_methods_of_comm p {
  font-size: 12.5pt;
  padding: 5px;
  text-decoration: none;
}

.target_methods_of_comm a:hover,
.target_methods_of_comm p:hover {
  text-decoration: none;
  color: black;
}

.blue_method_of_comm a,
.blue_method_of_comm p {
  /* color: #1D3B57; */
  color: #221100;
}

.off_white_method_of_comm a,
.off_white_method_of_comm p {
  color: black;
}

input[name="first_name"].input_issue,
input[name="last_name"].input_issue,
input[name="email"].input_issue,
textarea[name="body"].input_issue {
  background-color: red !important;
}

input[name="first_name"].input_issue::placeholder,
input[name="last_name"].input_issue::placeholder,
input[name="email"].input_issue::placeholder,
textarea[name="body"].input_issue::placeholder {
  color: white !important;
}

/* Connect Page - Communication Method Animations */

/* Phone Animation */

span#connect_by_phone_span:hover {
  cursor: pointer;
}

.phone_animation {
  animation-name: phonemotion;
  animation-duration: .2s;
  animation-iteration-count: infinite;
}

.emboldened_font {
  color: #6e73ab;
  font-weight: bold;
}

@keyframes phonemotion {
  0% {
    transform: rotate(-15deg);
    animation-timing-function: ease-in;
  }
  50% {
    transform: rotate(15deg);
    animation-timing-function: ease-out;
  }
}

/* Email Animation */

i#connect_by_email_i {
  position: relative;
}

span#connect_by_mail_span:hover {
  cursor: pointer;
}

.mail_animation {
  animation-name: mailmotion;
  animation-duration: .75s;
  animation-iteration-count: infinite;
}

@keyframes mailmotion {
  0% {left: 0}
  5% {left: 2.5%}
  10% {left: 5%}
  15% {left: 7.5%}
  20% {left: 10%;}
  25% {left: 12.5%}
  30% {left: 15%;}
  35% {left: 17.5%}
  40% {left: 20%;}
  45% {left: 22.5%}
  50% {left: 25%}
  55% {left: 27.5%}
  60% {left: 30%}
  65% {left: 32.5%}
  70% {left: 35%}
  75% {left: 37.5%}
  80% {left: 40%;}
  85% {left: 42.5%}
  90% {left: 45%}
  95% {left: 47.5%}
  100% {left: 50%}
}

/* Contact Form Animation */

span#connect_by_contact_form:hover {
  cursor: pointer;
}

i#connect_by_contact_form_i {
  position: relative;
}

.contact_form_animation {
  animation-name: contactformanimation;
  animation-duration: .5s;
  animation-iteration-count: infinite;
}

@keyframes contactformanimation {
  0% {}
  25% {transform: rotate(90deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(270deg);}
  100% {transform: rotate(360deg);}
}

/* Connect Page - Form Loader */

.modal_background_engaged {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #FFF8BE;
  opacity: .5;
  z-index: 10;
}

.modal_background_disengaged {
  display: none;
}

.modal_no_opacity_engaged {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 11;
}

.modal_no_opacity_disengaged {
  display: none;
}

.modal_gif_engaged {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 15%;
  z-index: 14;
}

.modal_gif_disengaged {
  display: none;
}

.modal_curtain_1_engaged {
  display: block;
  position: fixed;
  z-index: 12;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-color: #6e73ab;
  border-radius: 50%;
  animation-name: mj_curtain_1;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
}

.modal_curtain_1_engaged::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.modal_curtain_1_disengaged {
  display: none;
}

.modal_curtain_2_engaged {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  background-color: #FFF8BE;
  border-radius: 50%;
  animation-name: mj_curtain_2;
  animation-duration: 1.25s;
  animation-iteration-count: infinite;
}

.modal_curtain_2_engaged::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.modal_curtain_2_disengaged {
  display: none;
}

/* Begin Animation */

@keyframes mj_curtain_1 {

  0% {
    width: 17.5%;
    z-index: 12;
  }
  49.99% {
    width: 17.5%;
    z-index: 12;
  }
  50% {
    width: 0%;
    z-index: 13;
  }
  56.25% {
    width: 2.1875%;
    z-index: 13;
  }
  62.5% {
    width: 4.375%;
    z-index: 13;
  }
  68.75% {
    width: 6.5625%;
    z-index: 13;
  }
  75% {
    width: 8.75%;
    z-index: 13;
  }
  81.25% {
    width: 10.9375%;
    z-index: 13;
  }
  87.5% {
    width: 13.125%;
    z-index: 13;
  }
  93.25% {
    width: 15.3125%;
    z-index: 13;
  }
  100% {
    width: 17.5%;
    z-index: 13;
  }

}

@keyframes mj_curtain_2 {

  0% {
    width: 0%;
    z-index: 13;
  }
  6.25% {
    width: 2.1875%;
    z-index: 13;
  }
  12.5% {
    width: 4.375%;
    z-index: 13;
  }
  18.75% {
    width: 6.5625%;
    z-index: 13;
  }
  25% {
    width: 8.75%;
    z-index: 13;
  }
  31.25% {
    width: 10.9375%;
    z-index: 13;
  }
  37.5% {
    width: 13.125%;
    z-index: 13;
  }
  43.75% {
    width: 15.3125%;
    z-index: 13;
  }
  50% {
    width: 17.5%;
    z-index: 12;
  }
  100% {
    width: 17.5%;
    z-index: 12;
  }

}

/* Thank You Page */

div#thank_you_page_outer_container {
  margin: 0 auto;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#thank_you_page_outer_container p {
  padding: 10px;
  margin: 0px;
}

div#thank_you_page_outer_container a {
  text-decoration: none;
  color: #6e73ab;
  border-radius: .175rem;
}

div#thank_you_page_outer_container a:hover {
  border: 2px solid #6e73ab;
  background-color: #6e73ab;
  color: #cfc259;
}

div#thank_you_page_outer_container a:hover {
  color: #FFF8BE;
}

div#thank_you_page_inner_container_1 {
  text-align: center;
}



/* Projects Home Page */

div.project_home_section {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

img.project_home_project_thumbnail_img {
  /* border: 1px solid #6e73ab; */
  border-radius: .375rem;
}

a.project_home_project_description_links {
  color: #6e73ab;
  font-weight: bold;
}

a.project_home_project_description_links p {
  padding: 0px;
  margin: 0px;
}

a.project_home_project_description_links:hover,
a.project_home_project_description_links:active {
  color: #cfc259;
  background-color: #6e73ab;
  text-decoration: none;
 
}

a#random_word_generator_link p {
  margin: 0px;
}

div#view_projects_or_code {
  text-align: center;
  display: flex;
  flex-direction: column;
}

div#view_projects_or_code p {
  text-align: center;
}

div#view_code {
  flex-direction: column;
}

div#view_code img {
  width: 35px;
}

div#view_code img:hover {
  animation: rotate_icon 1s linear 0s 1 reverse;

}

@keyframes rotate_icon {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

img#reaction_time_test_img {
  width: 50%;
  height: auto;
}

img#LinkedIn_Bot_gif {
  height: 80%;
  width: auto;
}


/* Page Headers */

div.page_header_container h3 {
  padding: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

/* Random Word Generator Page */

div#random_word_generator_outer_div {
  text-align: center;
  display: absolute;
  padding: 10px;
  margin-top: 25px;
}

button#random_word_generator_submit_button_python {
  border-radius: 0.5em;
  margin-bottom: 10px;
}

button#random_word_generator_submit_button_ajax, 
button#random_name_generator_submit_button_ajax {
  border-radius: 0.5em;
  margin-bottom: 10px;
}

div#random_word_generator_inner_div {
  padding: 5px;
  margin: 0 auto;
}

h3#random_word_generator_random_word {
  color: #FFF8BE;
  background-color: #4C8872;
  padding: 5px;
  margin: 0px;
  border-radius: .25em;
  border: 1px solid #FFF8BE;
}

hr.random_word_generator_page_hrs {
  margin: 0 auto;
  padding-top: 2.5px;
  margin-top: 2.5px;
  border-top: 1px solid #FFF8BE;
  width: 90%;
}

/* PDF Parser Page */

div#pdf_parser_outer_div {
  max-width: 100%;
}

div#pdf_parser_file_uploader_header {
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

div#pdf_parser_file_uploader_header p,
div#pdf_parser_file_uploader_header h3
 {
  padding: 0px;
  margin: 0px;
}

div#pdf_parser_file_upload_form_container {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 10px;
  border: 1px #6e73ab solid;
  border-radius: .375rem;
}

input#pdf_parser_file_upload_form_title,
input#pdf_parser_file_upload_form_file_upload {
  padding: 3px;
  margin-bottom: 10px;
}

div#pdf_extension_verification_div {
  width: 75%;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  background-color: #6e73ab;
  transition: .9s;
  border: 1px solid #cfc259;
  border-radius: .375rem;
  display: none;
}

div#pdf_extension_verification_div p {
  padding: 0px;
  margin: 0px;
  color: #cfc259;
}

/* Display Content Page */

div#display_contents_file_name_display {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#display_contents_file_name_display p {
  padding: 0px;
  margin: 0px;
}

div#display_contents_uploaded_data_container {
  height: 75%;
  padding: 10px;
  border: 1px #6e73ab solid;
  border-radius: .25rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

div#display_contents_uploaded_data_container pre {
  margin: 0 auto;
  height: 75vh;
  width: 100%;
  /* overflow: scroll; */
}

div#display_contents_uploaded_data_search_bar_container {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input#display_contents_uploaded_data_search_bar_input {
  width: 100%;
}

span#immediate_search_terms {
  background-color: #6e73ab;
}

/* LinkedIn Bot Page */

div#linkedin_bot_inner_div {
  text-align: center;
}

/* iframe.linkedin_bot_video {
  width: 50%;
  height: 500px;
} */

div#linkedin_bot_outer_div {
  /* margin: 0 auto; */
  text-align: center;
}

/* Return Links */

div.return_link_container {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.return_link_container p {
  padding: 0px;
  margin: 0px;
}

/* Window Border */

div#left_window_border {
  left: 0px;
  top: 0px;
  width: 10px;
  position: fixed;
  background-color: #78A091;
  z-index: 2;
}

div#right_window_border {
  right: 0px;
  top: 0px;
  width: 10px;
  position: fixed;
  background-color: #78A091;
  box-shadow: 10px 10px #000;
  z-index: 2;
}

div#left_window_border_box_shadow {
  position: absolute;
  left: 9px;
  width: 1px;
  background-color: transparent;
  box-shadow: -5px -5px 17.5px .5px #000;
  z-index: 2;
}

div#right_window_border_box_shadow {
  position: absolute;
  right: 9px;
  width: 1px;
  background-color: transparent;
  box-shadow: 5px -5px 17.5px .5px #000;
  z-index: 2;
}

div#left_curved_cover {
  position: absolute;
  left: 10px;
  width: 50px;
  height: 25px;
  background-color: #78A091;
  z-index: -1;
}

div#left_curved_cover::after {
  content: '';
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 200%;
  background-color: #FFF8BE;
  border-top-left-radius: 50%;
}

div#right_curved_cover {
  position: absolute;
  right: 10px;
  width: 50px;
  height: 25px;
  background-color: #78A091;
  z-index: -1;
}

div#right_curved_cover::after {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 200%;
  background-color: #FFF8BE;
  border-top-right-radius: 50%;
}

/* Error Pages */

/* 500 Error */

div.error_page_container {
  text-align: center;
  padding: 25px;
  z-index: 2;
}


div.standard_size.error_page_container {
  margin-left: 7.5%;
  margin-right: 7.5%;
  width: 85%;
}

div.error_page_container h3 {
  font-size: 200%;
}

div.error_page_error_img_container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

img.error_page_error_img_img {
  position: relative;
  opacity: .6;
  z-index: 2;
}

div.error_page_background_circle_container {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #6e73ab;
  border: 1px solid #000;
  border-radius: 50%;
  z-index: -1;
  opacity: .075;
}

div.error_page_background_circle_container::before {
  padding-bottom: 100%;
}

/* Functional Links */

.waved_letter {
  font-weight: bold;
}

.test {
  color: black;
}

.test_1 {
  color: white;
}

/* Projects - Reaction Test */

div#reaction_time_introductory_outer_div {
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  text-align: center;
}

div#main_canvas_div {
  width: 75%;
  height: 75%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
}


canvas#canvas {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #fff;
  border: 1px solid #1D3B57;
  border-radius: .25em;
}

.hidden {
  position: absolute;
  left: 999;
  display: none;
}

.visible {
  display: block;
}

img#my_face_left {
  height: 25px;
  width: 25px;
}

div#reaction_time_display_outer_div {
  width: 75%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button#reaction_time_start_button {
  background-color: #4c8872;
  color: #C5E1CB;
  border: 1px solid #C5E1CB;
}

button#reaction_time_start_button:hover {
  border: 1px solid #000; 
  background-color: #C5E1CB;
  color: #000;
}




