{% extends 'base.html' %}
{% load staticfiles %}

{% block about_me %}

    <div class="standard_size">

        <br>

        <div id="about_me_introduction_container">

            <p id="about_me_introduction_p">Hi there.  <span id="about_me_peace_icon"><i class="far fa-hand-peace"></i></span>  My name is Jarret Laberdee. I am currently 29 years old and looking for a change of pace in my career. I've written a little bit about myself. Please take a look!</p>

        </div>

        <br>

        <ul id="about_me_page_ul">


            <li>
                <hr class="about_me_hr">
                <h5 id="bk_test" class="target_header">Background</h5>
                <hr class="about_me_hr">
                <br>
                <p>From a young age, I vividly recall being captivated by gadgetry. Due to my problem-solving nature and interest in how things work, I have always been the "go-to" guy for technologically-related issues (<i>primarily turning the router on and off again for 
                family members</i>). I enjoy laying out a problem and taking incremental steps towards a solution. 
                <br>
                <br>
                This is precisely the reason why software/web development has fit neatly into my bag of tricks. From the time I received my first N64 as a child to the current moment of me writing this <strong><i>&lt;p&gt;</i></strong> tag as an adult, I have been inquisitive with how smart people have 
                translated 0's and 1's into the technological goods and services that envelop our lives.</p>
            </li>

            <br>
            <hr class="about_me_hr">

            <li>
                <h5 class="target_header">Personally Acquired Experience</h5>
                <hr class="about_me_hr">
                <br>

                <center><p><strong>Front-End</strong></center>
                <hr style="border-color: black; width: 75px; margin-top: -7.5px; margin-bottom: 1.5em;" />

                <div class="about_me_languages_outer_div">
                    <div class="about_me_languages_inner_div_icon">
                        <img class="marq" src="{% static 'languages_icons/HTML_Icon.png' %}" alt="HTML Icon"></img>
                        <caption>HTML</caption>
                    </div>
                    <div class="about_me_languages_inner_div_text">
                        <p>The power duo. While I feel very confident in my ability to convert a thought into a rendered product on a web page, I am constantly learning new tricks to improve my CSS. Having no background in 
                        graphical design, I sometimes struggle in imagining what is actually possible and transposing that into code. With enough time, I will domineer the languages.

                    </div>
                </div>

                <div class="about_me_languages_outer_div">
                    <div class="about_me_languages_inner_div_icon">
                        <img class="marq" src="{% static 'languages_icons/CSS_Icon.png' %}" alt="CSS Icon"></img>
                        <caption>CSS</caption>
                    </div>
                    <div class="about_me_languages_inner_div_text">
                        <p>The power duo. While I feel very confident in my ability to convert a thought into a rendered product on a web page, I am constantly learning new tricks to improve my CSS. Having no background in 
                        graphical design, I sometimes struggle in imagining what is actually possible and transposing that into code. With enough time, I will domineer the languages.

                    </div>
                </div>

                <div class="about_me_languages_outer_div">
                    <div class="about_me_languages_inner_div_icon">
                        <img class="marq" src="{% static 'languages_icons/Javascript_Icon.png' %}" alt="Javascript Icon"></img>
                        <caption>JavaScript</caption>
                    </div>
                    <div class="about_me_languages_inner_div_text">
                        <p>The power duo. While I feel very confident in my ability to convert a thought into a rendered product on a web page, I am constantly learning new tricks to improve my CSS. Having no background in 
                        graphical design, I sometimes struggle in imagining what is actually possible and transposing that into code. With enough time, I will domineer the languages.

                    </div>
                </div>


                <center><p><strong>Back-End</strong></center>
                <hr style="border-color: black; width: 75px; margin-top: -7.5px; margin-bottom: 1.5em;" />


                <div class="about_me_languages_outer_div">
                    <div class="about_me_languages_inner_div_icon">
                        <img class="marq" src="{% static 'languages_icons/Python_Icon.png' %}" alt="Python Icon"></img>
                        <caption>Python</caption>
                    </div>
                    <div class="about_me_languages_inner_div_text">
                        <p>The power duo. While I feel very confident in my ability to convert a thought into a rendered product on a web page, I am constantly learning new tricks to improve my CSS. Having no background in 
                        graphical design, I sometimes struggle in imagining what is actually possible and transposing that into code. With enough time, I will domineer the languages.

                    </div>
                </div>

                <div class="about_me_languages_outer_div">
                    <div class="about_me_languages_inner_div_icon">
                        <img class="marq" src="{% static 'languages_icons/NodeJS_Icon.png' %}" alt="Node JS Icon"></img>
                        <caption>NodeJS</caption>
                    </div>
                    <div class="about_me_languages_inner_div_text">
                        <p>The power duo. While I feel very confident in my ability to convert a thought into a rendered product on a web page, I am constantly learning new tricks to improve my CSS. Having no background in 
                        graphical design, I sometimes struggle in imagining what is actually possible and transposing that into code. With enough time, I will domineer the languages.

                    </div>
                </div>

                <div class="about_me_languages_outer_div">
                    <div class="about_me_languages_inner_div_icon">
                        <img class="marq" src="{% static 'languages_icons/VBS_Icon.png' %}" alt="VBS Icon"></img>
                        <caption>VBScript</caption>
                    </div>
                    <div class="about_me_languages_inner_div_text">
                        <p>The power duo. While I feel very confident in my ability to convert a thought into a rendered product on a web page, I am constantly learning new tricks to improve my CSS. Having no background in 
                        graphical design, I sometimes struggle in imagining what is actually possible and transposing that into code. With enough time, I will domineer the languages.

                    </div>
                </div>

                <div class="about_me_languages_outer_div">
                    <div class="about_me_languages_inner_div_icon">
                        <img class="marq" src="{% static 'languages_icons/VBA_Icon.png' %}" alt="VBA Icon"></img>
                        <caption>VBA</caption>
                    </div>
                    <div class="about_me_languages_inner_div_text">
                        <p>The power duo. While I feel very confident in my ability to convert a thought into a rendered product on a web page, I am constantly learning new tricks to improve my CSS. Having no background in 
                        graphical design, I sometimes struggle in imagining what is actually possible and transposing that into code. With enough time, I will domineer the languages.

                    </div>
                </div>

                <br>


            <li>

                <hr class="about_me_hr">
                <h5 id="about_me_professional_exp" class="target_header">Professionally Acquired Experience</h5>
                <hr class="about_me_hr">
                <br>

                <p> Since my hire in February of 2015 (<i>{{ elapsed_time }}</i>), I have worked very intimately with our Enterprise Resource Planning systems here at Fiat Chrysler 
                Automobiles. Being an employee in the Logistics department, we work within an IBM-developed operating system (z/OS) using a zSeries terminal emulator (TN3270) across telnet 
                protocol. We use this IBM mainframe emulator to access a large data reservoir somewhere within the company. This serves us as the main resource for managing our internal/external 
                inventory/receiving levels and our internal/external delivery systems. 
                <br>
                <br>
                While working with the mainframe has some perks, including the amount of traffic it can handle (apparently ~2.5 billion 
                transacions per day according to IBM), I believe my future exists working within the client/server architecture. While I admittedly don't know all the differences between the two, 
                it seems there is a great reserve of inormation surrounding applications built on client/server. 
                </p>
            </li>

            <br>
            <hr class="about_me_hr">

            <li>
                <h5 class="target_header">Technological Goals</h5>
                <hr class="about_me_hr">
                <br>

                <p>For me, the data-driven intertwinement between man and machine transcends more than mere curiousity. For me, it is a responsibility to adapt and evolve in order to stay current. With data being an ever-more 
                valuable currency in today's day and age, in my opinion there will be left two groups of people: Those whose job it is to automate, 
                and those whose job's have been automated. I, personally, want to be the one to automate. This ideology has really propelled me towards coding and, more generally, computing. 

            </li>

            <br>
            <hr class="about_me_hr">

            <li>
                <h5 class="target_header">Resume</h5>
                <hr class="about_me_hr">
                <br>

                <p>I've attached a copy of my resume below. While it doesn't reflect all of my personal accomplishments as nicely as I'd like, feel free to take a copy with you on your search for the right candidate.</p>

            </li>

        </ul>
   
    </div>

    <div id="resume_page_img_div" class="minimized_resume_img_div">

        <img id="resume_page_img_img" class="minimized_resume_img_img" src="{% static 'img/Jarret_Laberdee_Resume.jpg' %}" alt="Jarret Laberdee Resume" id="resume_page_img_img">

    </div>

    <div id="resume_page_download_resume_container">

        <form id="resume_page_download_resume_form" action="{% url 'download_resume' %}" method="get">
            <button id="resume_page_download_resume_button" class="btn" type="submit">Take a copy!</button>   
        </form>
    </div>

    <div id="about_me_click_for_full_size_modal_container">

        <span id="about_me_click_for_full_size_modal_span"></span>

    </div>

    <div id="full_page_modal" class="minimized_modal"></div>
    <span id="full_page_modal_close" class="minimized_close_button">
        <i id="close_button_close_button" class="fas fa-times fa-2x"></i>
    </span>

{% endblock %}

{% block about_me_script %}
<script src="{% static 'js/about_me.js' %}" type="text/javascript"></script>
{% endblock %}