{% extends 'base.html' %}
{% load staticfiles %}

{% block about_me %}

    <div class="container">
        <ul id="about_me_page_ul">
            <li>
                <h5>Personal Fulfillment</h5>
                <p>Over the last 2.5 years I have become encapsulated in the world of
                    software design. I am constantly taken back by how heavily the modern 
                    world around us is shaped by technology, and it's in that same breath 
                    that I want to be a contributor to that shaped world. 
                </p>
            </li>
            <li>
                <h5>Professional Goals</h5>
                <p>I've been in a professional setting for about 4 years. I have managed 
                    upwards of 75 employees in a professional, manufacturing setting. I 
                    have worked in systems integrations, process enhancment and manpower 
                    allocation. 
                </p>
            </li>
            <li>
                <h5>Experience</h5>
                <p>For the last 4 years I've worked for Fiat Chrysler Automobiles. I 
                    started out as a line supervisor, and slowly worked my way into an 
                    data-based analysis role with my technological saavy. 
                </p>
            </li>
        </ul>
   
    </div>

    <div class="container">
    <p>Take a look at my resume below. You'll find that I have the necessary 
    problem-solving skills to attack any problem!</p>
    </div>

   <div id="resume_page_img_div" class="minimized_resume_img_div">

        <img id="resume_page_img_img" class="minimized_resume_img_img" src="{% static 'img/Jarret_Laberdee_Resume.jpg' %}" alt="Jarret Laberdee Resume" id="resume_page_img_img">

    </div>

    <div id="about_me_click_for_full_size_modal_container">

        <span id="about_me_click_for_full_size_modal_span"></span>

    </div>

    <div id="full_page_modal" class="minimized_modal"></div>
    <span id="full_page_modal_close" class="minimized_close_button">
        <i id="close_button_close_button" class="fas fa-times fa-2x"></i>
    </span>

{% endblock %}