{% extends 'base.html' %}

{% load static %}

{% block connect %}

    <div id="connect_page_outer_container">

       <div id ="connect_header_h5" class="page_header_text standard_size">
            <br>
            <hr class="target_hr about_me_hr">
            <h5 class="target_header">Give me a shout!</h5>
            <hr class="target_hr about_me_hr">
            <br>
        </div>

        <div id="connect_page_introductory_text_container" class="standard_size">

            <p>Hello there. So if you haven't had the chance, please get to know me a little in my <i><a href="{% url 'about_me' %}">About Me</a></i> section. If you've already done so, 
            thanks so much for hanging around. What I'd like most is for you to get ahold of me, even if just to chat, drop me your name, or leave some constructive criticism.</p>

            <p>Like a lot of new programmers, I sometimes experience feelings of imposter syndrome. This is precisely why I want to spread my wings into the development community and make as 
            many friends as possible. I'm hoping you'll be one of them!</p>
            
            <br>

            <hr class="target_hr about_me_hr">
            <h5 class="target_header">Methods of Communication</h5>
            <hr class="target_hr about_me_hr">

            <br>

            <span class="target_methods_of_comm" id="connect_by_phone_span"><p id="connect_by_phone_p" class="connect_centered_li connect_functional_links"><a href="tel://14192068550" class="connect_functional_links" target="_top">By Phone   <i id="connect_by_phone_i" class="fas fa-mobile-alt"></i></a></p></span>
            
            <p>Like most people, my cell phone has become a sort of extension to my persons. 
            I usally have it with me at all times. My daytime cell number is (419)-206-8550. 
            If for any reason I don't pick up, please send me a text or leave me a voicemail.</p>

            <br>

            <span class="target_methods_of_comm" id="connect_by_mail_span"><p id="connect_by_mail_p" class="connect_centered_li connect_functional_links"><a href="mailto:JLamborghini22@gmail.com?Subject=Hey%20Jarret%2C%20this%20is%20(tell%20me%20your%20name%20here)...&body=Just%20want%20to%20say%20that%20you%20rock!%20(Just%20kidding%20put%20your%20own%20message%20here.)" class="connect_functional_links">By Email   <i id="connect_by_email_i" class="far fa-envelope-open"></i></a></p></span>
            
            <p>Another option would be to send me a quick email correspondence. 
            My primary personal email is Jlamborghini22@gmail.com. 
            As stated before about the phone, my email is another tool in my kit that is always at my disposal.</p>

            <br>

            <span class="target_methods_of_comm" id="connect_by_contact_form"><p id="connect_by_contact_form_p" class="connect_centered_li connect_functional_links">By Contact Form   <i id="connect_by_contact_form_i" class="far fa-file-alt"></i></p></span>
            
            <p>If you prefer to check the functionality of my website by submitting the form below that is also welcome. 
            It will email you a receipt of the comment, shoot me a note, and then we can link up that way.</p>

            <p>Please note that all fields are required and both a front-end regex and back-end sanitize function will be passed over the field data prior to submitting.</p>

            <br>
            <br>

            <hr class="target_hr about_me_hr">
            <h5 class="target_header">Contact Form</h5>
            <hr class="target_hr about_me_hr">

        </div>

        <br>

        <div id="connect_page_form_div" class="standard_size">
            <form id="connect_page_form_form" action="/connect/thanks_for_reaching_out/" method="POST">
                {% csrf_token %}
                {{ form }}
                <input type="submit" id="connect_page_form_submit_button" class="btn">
            </form>

        </div>

    </div>

    <div id="connect_full_page_loader_background" class="modal_background_disengaged">
    </div>

    <div id="connect_full_page_loader_no_opacity" class="modal_no_opacity_disengaged">
        <img id="connect_dancing_mj_gif" class="modal_gif_disengaged" src="{% static 'gif/Dancing_MJ_Animated.gif' %}" />
        <div id="connect_mj_curtain_1" class="modal_curtain_1_disengaged"></div>
        <div id="connect_mj_curtain_2" class="modal_curtain_2_disengaged"></div>
    </div> 


    <script>
        var json_data = {{input_error_json|safe}};
    </script>


{% endblock %}

{% block connect_script %}
<script src="{% static 'js/connect.js' %}" type="text/javascript"></script>
{% endblock %}