{% extends 'base.html' %}
{% load static %}

{% block pdf_parser %}

<div class="container" id="pdf_parser_outer_div">

    <div id="pdf_parser_file_uploader_header">

        <h3>PDF Parser</h3>

        <p>Upload a PDF form to convert it into text</p>

        <p>Currently working a client side search function</p>

    </div>

    <div id="pdf_parser_file_upload_form_container">

        <form id="pdf_parser_file_upload_form_form" action="{% url 'upload_pdf' %}" method="post" enctype="multipart/form-data">

            {% csrf_token %}
            {{ form }}

            <button id="pdf_parser_file_upload_form_submit_button">Upload PDF</button>

        </form>

    </div>

    <div id="pdf_extension_verification_div"></div>

    <div class="return_link_container">

        <a class="project_home_project_description_links" href="{% url 'projects_home_page' %}"><p>Back To Projects Home</p></a>

    </div>

</div>

{% endblock %}

{% block pdf_loader_script %}
<script src="{% static 'js/pdf_loader.js' %}" type="text/javascript"></script>
{% endblock %}
