{% extends 'base.html' %}
{% load static %}

{% block project_home_page %}

<div class="standard_size" id="project_home_main_div">

    <div id="view_projects_or_code" class="project_home_section">
        <div id="view_code">
            <p>View My Code:<p>  
            <a href="https://github.com/CarnsJalone" target="_blank"><img src="{% static 'languages_icons/GitHub_Icon.png' %}" alt="GitHub Icon"></a>
        </div>
    </div>

    <hr class="target_header">

    <div class="project_home_section">
        <div class="project_home_project_description_div">
            <a class="project_home_project_description_links" id="random_word_generator_link" href="{% url 'random_word_generator' %}"><p>Random Word/Name Generator</p></a>
        </div>
        <div class="project_home_project_thumbnail_div">
            <img class="project_home_project_thumbnail_img" src="{% static 'png/Random_Word_Generator.png' %}" alt="Random Word Generator Thumbnail">
        </div>

    </div>

    <hr class="target_header">

    <div class="project_home_section">
        <div class="project_home_project_description_div">
            <a class="project_home_project_description_links" id="upload_pdf_link" href="{% url 'upload_pdf' %}"><p>PDF Parser</p></a>
        </div>
        <div class="project_home_project_thumbnail_div">
            <img class="project_home_project_thumbnail_img" src="{% static 'png/PDF_Parser.png' %}" alt="Random Word Generator Thumbnail">
        </div>

    </div>

    <hr class="target_header">

     <div class="project_home_section">
        <div class="project_home_project_description_div">
            <a class="project_home_project_description_links" id="reaction_time_test_link" href="{% url 'reaction_time_test' %}"><p>Reaction Test</p></a>
        </div>
        <div class="project_home_project_thumbnail_div">
            <img class="project_home_project_thumbnail_img" id="reaction_time_test_img" src="{% static 'gif/Reaction_Time.gif' %}" alt="Reaction Time Test Thumbnail">
        </div>

    </div>

    <hr class="target_header">

     <div class="project_home_section">
        <div class="project_home_project_description_div">
            <a class="project_home_project_description_links" id="linkedin_bot_link" href="{% url 'linkedin_bot' %}"><p>LinkedIn Bot</p></a>
        </div>
        <div class="project_home_project_thumbnail_div">
            <img class="project_home_project_thumbnail_img" id="LinkedIn_Bot_gif" src="{% static 'gif/LinkedIn_Bot_Cropped.gif' %}" alt="Reaction Time Test Thumbnail">
        </div>

    </div>

    <hr class="target_header">

     <div class="project_home_section">
        <div class="project_home_project_description_div">
            <a class="project_home_project_description_links" id="access_log_visualization_link" href="{% url 'access_log_visualizer' %}"><p>Apache Server Access Log Visualization</p></a>
        </div>
        <div class="project_home_project_thumbnail_div">
            <img class="project_home_project_thumbnail_img" id="access_log_visualization_png" src="{% static 'png/access_log_visualization.png' %}" alt="Reaction Time Test Thumbnail">
        </div>

    </div>




</div>



{% endblock %}