{% extends 'base.html' %}

{% block random_word_generator %}


    <div id="random_word_generator_outer_div" class="container">

        <h3>Random Word/Name Generator</h3>

        <hr>

        <p>Random Word Generator (Python) - This function is done on the server side language that I am using for this application. 
        In this example I am usiing a Python Web Framework called Django. 
        Note that running this function will refresh the page as it is done on the backend.</p>


        <form>
            <button id="random_word_generator_submit_button_python" type="submit" action="{% url 'random_word_generator' %}" method="get">Generate a Random Word (Server Side - Python)</button>
        </form>

        <div id="random_word_generator_inner_div">

            <h3 id="random_word_generator_random_word"> Random Word: 
            <hr style="width: 75%; margin: 0 auto;text-align: center; background-color: #cfc259">
            <span id="check" style="font-style:italic">{{random_word}}</span>
            </h3>
        </div>

        <hr>

        <p>Random Word Generator (Ajax) - This function is done on the client side language that I am using for this application. 
        In this example I am using a Javascript Framework called Ajax. 
        Running this function will not refresh the page as everything is done asynchronously between the front 
        and backend languages communicating.</p>


        <form>
            <button id="random_word_generator_submit_button_ajax" type="submit" action="{% url 'random_word_generator_ajax' %}" method="get">Generate a Random Word (Client Side - Ajax)</button>
        </form>

        <div id="random_word_generator_inner_div">

            <h3 id="random_word_generator_random_word"> Random Word: 
            <hr style="width: 75%; margin: 0 auto;text-align: center; background-color: #cfc259">
            <span id="random_word_generator_destination_span" style="font-style:italic">Click Button To Generate Word</span>
            </h3>
        </div>

        <hr>

        <a class="project_home_project_description_links" href="{% url 'projects_home_page' %}"><p>Back To Projects Home</p></a>

    </div>

{% endblock %}