{% extends 'base.html' %}

{% block thank_you %}

<div id="thank_you_page_outer_container">

    <div id="thank_you_page_inner_container_1" class="standard_size">
        <p> Thanks for getting ahold of me {{form_variables.first_name}}.</p>
        <p>I got your comment: <i>{{form_variables.body}}</i></p>
    </div>

    <div id="thank_you_page_inner_container_2" class="standard_size">

        <p>
        I'm delighted you took the time to contact me. I have your email as {{ form_variables.email }}. I should see your response immediately and depending upon my current whereabouts/working situation I will 
        get back to you at my earliest convenience. If you require a faster line of communication, please see my <a href="{% url 'connect' %}">Connect</a> page. 

        <br>

        Be on the lookout for a response very soon!
        </p>

    </div>

 </div>

{% endblock %}